<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="UTF-8">
    <title>HTML 5 Boilerplate</title>
    
  </head>
  <body>
  	<section>
  		<div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div style="height:220px;" id="login-box" class="col-md-12">
                        <!-- Email Form -->
                        <div class="alert alert-success mt-3" role="alert">
                        	We have sent OTP to your email ..
                        </div>
                        <form method="post" th:action="@{/send-otp}">
                        	<div class="form-group">
                        		<input name="otp" required type="text" placeholder="Enter OTP here" class="form-control"/>
                        	</div>
                        	
                        	<div class="container text-center">
                        		<button class="btn btn-warning">Verify</button>
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
  	</section>
	
  </body>
</html>